/* CSS for index.js */

body {
    background-color: #008000; /* green */
    font: 14px;
    font-family: "Comic Sans MS", Georgia, Futura;
    margin: 20px;
}

/* Card styles */

.card {
    background: #008000; /* green */
    border: 2px none #008000;
    float: left;
    height: 125px;
    padding: 0;
    text-align: center;
    width: 100px;
}

.card:focus {
    outline: none;
}

img {
    height: 125px;
    width: 100px;
}

/* Board styles */

table {
    display: inline-block;
}

.board-row:after {
    clear: both;
    content: "";
    display: table;
}

/* Game styles */

.game {
    display: flex;
    flex-direction: column;
    text-align: center
}

.newGame {
    background-color: #008000; /* green */
    border: 2px solid #e5e5e5; /* off-white */
    border-radius: 5px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    color: #e5e5e5;
    font-family: "Comic Sans MS", Georgia, Futura; /* Wasn't styling from body */
    font-size: 20px;
    font-weight: bold;
    height: 40px;
    left: 20px;
    position: absolute;
    top: 100px;
    transition-duration: 0.4s;
    -webkit-transition-duration: 0.4s; /* Safari */
    width: 125px;
}

.newGame:hover {
    background-color: #e5e5e5; /* off-white */
    color: #008000; /* green */
}

.newGame:focus {
    outline: none;
}

.title {
    color: #e5e5e5; /* off-white */
    display: inline-block;
    font-size: 30px;
    margin-bottom: -50px;
    text-align: center;
    text-shadow: 2px 2px #0c0c0c; /* lighter-black */
}

.winText {
    color: #e5e5e5; /* off-white */
    font-size: 150px;
    font-weight: bold;
    text-align: center;
    text-shadow: 2px 2px #0c0c0c; /* light-black */
}
